
How many cents would you like converted into coins?
<form method="post" action="/change">
    <input type="number" name="cents_given" value="cents"/> 
    <input type="submit" value="Select"/>
</form>



