
<! doctype HTML5>

<html lang = "en">
<head>
    <meta charset = "utf - 8">

    <title> Coin Changer </title>
    <meta name = "description" content = "Our First CSS">
    <meta name = "author" content = "Site Point">

    <link rel = "stylesheet" href = "css/style.css">

</head>

<body>
<div id = "OurFirstDiv">
    Hello World! Would you like to try our coin changer?
    <form method="post" action="/index">
    <input type="radio" name="radio" value="yes" /> YES </br>
    <input type="radio" name="radio" value="no" /> NO, THANK YOU </br>
    <input type="submit" value="Select"/>
</form>
        <div id = "OurSecondDiv">
            <ul id = "OurList">
                <li> <a href = "http://www.google.com"> Google </a> </li>
                <li> <a href = "http://www.bing.com"> Bing </li>
                <li> <a href = "http://www.yahoo.com"> Yahoo </li>
            </ul>
        </div>
</div>

</body>
</html>


