
<head>
    <meta charset = "utf - 8">
    <title> Coin Changer </title>
    <meta name = "description" content = "Coin Changer">
    <meta name = "author" content = "Site Point">
    <link rel = "stylesheet" href = "css/style.css">
</head>

Your coins are as follows... <%=coins_returned%>
<form method="post" action="/total">
    <input type="hidden" name="cents_given" value="cents"/> 
    <input type="hidden" name="answer" value="answer"/>
</form>



