
Your coins are as follows... <%=coins_returned%>
<form method="post" action="/total">
    <input type="hidden" name="cents_given" value="cents"/> 
    <input type="hidden" name="answer" value="answer"/>
</form>



