

body {
    background-image: url("../img/Railroad.png");
    min-height: 100%; 
    background-attachment: fixed; 
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover; 
    color: white;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
}

#OurFirstDiv {
    top: 15px;
    left: 25%;
    position: relative;
    height: 75%;
    width: 50%;
    text-align: center;
    background-color: limegreen;
    border: white solid 5px;
}

#OurSecondDiv {
    position: relative;
    left: 12.5%;
    top: 75px;
    height: 25%;
    width: 75%;
    text-align: center;
    background-color: blue;
    border: yellow dotted 10px;
}

#OurList {
    position: relative;
    left: -10px;
    top: 20px;
}

#OurList li {
    display: inline-block;
    padding: 0px 20px;
    margin-right: 20px;
}

a:hover {
    color: indigo;
}

a {
    text-decoration: none;
    outline: 0;
    color: white;
}

